/* Cor dos icones*/

.color-icon {
  color : #B6B6B6;
}

.center-nav {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
  -webkit-flex-shrink: 10;
  -ms-flex: 0 10 auto;
  flex-shrink: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navbar-inner,.subnavbar {
  background: #2196F3; /* COR DA BARRA DE TITULO*/
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
